body {
    background-color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 15px;
    padding: 50px;
    
}

button {
height: 10vh;
width: 30vw;
font-size: 30px;
font-weight: 600;
}

button:hover{
    background-color: pink;
    transition: 0.7s;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
