
.container {
    display: flex;
    flex-direction: column;
    margin: 200px;
    padding: 40px 100px;
    gap: 50px; 
}

.results {
display: flex;
flex-direction: column;
gap: 50px;

}
.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.result {
    display: flex;
    justify-content: center;

}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {

height: 50px;
width: 100px;
border-radius: 8px;
border: none;
background-color: lightblue;
}